$lightTheme: (
  background-color: $bg-color-light,
  color: $text-color-light,
);

$lightThemeAlt: (
  background-color: $bg-color-alt-light,
  color: $text-color-accent-light,
);

$darkTheme: (
  background-color: $bg-color-dark,
  color: $text-color-dark,
);

$darkThemeAlt: (
  background-color: $bg-color-alt-dark,
  color: $text-color-accent-dark,
);
