html {
  overflow: auto !important;
}

body {
  font-size: $font-size-def;
  font-family: $font-def;
  // @include darkTheme;
}

h1 {
  font-size: $font-size-h1;
  margin: $margin-h1;
}
h2 {
  font-size: $font-size-h2;
  margin: $margin-h2;
}
h3 {
  font-size: $font-size-h3;
  margin: $margin-h3;
}
h4 {
  font-size: $font-size-h4;
  margin: $margin-h4;
}
h5 {
  font-size: $font-size-h5;
  margin: $margin-h5;
}
h6 {
  font-size: $font-size-h6;
  margin: $margin-h6;
}

#root {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

$trans: cubic-bezier(0.215, 0.61, 0.355, 1);

svg {
  transition: color 0.15s $trans;
}

p,
div,
span {
  transition: background-color 0.2s linear, color 0.15s $trans, height 0.3s $trans,
    max-height 0.3s $trans, min-height 0.3s $trans, max-width 0.3s $trans, border-color 0.3s $trans,
    grid-template-columns 0.4s $trans;
  //width 0.3s $trans,
}

// have to be defined here???
// if I do in local scss module it doesn't work
#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

* {
  // box-sizing: border-box;
  // outline: 1px solid lightseagreen !important;
  // background: rgba(141, 234, 255, 0.1);
}
